.recent-upload {

    padding:4rem 8%;

}


.recent-upload h2 {

    text-align:center;

    color:#0F172A;

    font-size:2rem;

    margin-bottom:2.5rem;

}


.resource-grid {

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:1.5rem;

}


.resource-info {

    display:flex;

    justify-content:space-between;

    margin-top:1rem;

}


.resource-info span {

    background:#EFF6FF;

    color:#0F5FEE;

    padding:.3rem .7rem;

    border-radius:20px;

    font-size:.85rem;

}